---
import Layout from '../layouts/Layout.astro';
import Nav from '../sections/Nav.astro';
import Table from '../sections/Table.astro';
import ErrorCalibra from '../sections/ErrorCalibra.astro';

---

<Layout title="Cdapp.">
	<main class="w-full" >
		<Nav></Nav>
		<Table></Table>
		<ErrorCalibra/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: rgb(12, 8, 8);
		font-size: 20px;
		line-height: 1.6;
	}

</style>
