<section class="flex flex-col" >
    <h1>Nueva Tabla</h1>
    <div class=" w-12 bg-red-400 font-bold " data-errorcalibra ></div>
    <div class=" w-12 bg-red-400 font-bold " data-errorcalibra2 ></div>
    <div class="w-12 bg-red-400 font-bold " data-errorcalibra3 ></div>
    <div class="w-12 bg-red-400 font-bold " data-errorcalibra4 ></div>
</section>