---
import { Icon } from 'astro-icon/components'
---

<section class=" pt-1 pb-5 "  >
    <nav class=" nav m-auto w-2/4 border-[0.1px]  border-gray-700 flex rounded-full py-1 items-center justify-around" >
        <div class=" font-bold hover:scale-110 ">
            logue
        </div>
        <a href="/" class="text-lg hover:font-semibold hover:scale-110 transition">
            Ciclo Otto
        </a>
        <a href="/" class="text-lg hover:font-semibold hover:scale-110 transition">
            Diesel
        </a>
        <a href="/ " class="text-lg hover:font-semibold hover:scale-110 transition ">
            Taximetro
        </a>
        <a class=" shadow-md shadow-black/60 text-center hover:scale-90 transition -mr-3 bg-gray-950 rounded-full text-yellow-50 block w-[10rem] h-full px-6 py-4" >Nosotros</a>
    </nav>

</section>

<style>
    .nav{
        filter: drop-shadow(0px 3px 3px #5f5e5e);
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));

    }
</style>